# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.egg-info/
*.env
.env/
venv/
fypenv/
*.pth

# Data / model artifacts
dag/data/preprocessed/
dag/data/*.png
dag/data/*.json
dag/data/*.pth
dag/data/*.pt
*.zip
*.tar
*.tar.gz
*.h5
*.npz
*.npy

# OS / IDE
.DS_Store
.vscode/
.idea/

