# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# VS Code settings
.vscode/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Matplotlib font cache
.matplotlib

# PyCharm
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
# Ignore PDF files
*.pdf
# Ignore documents
*.pdf
*.pptx
*.txt
*.docx

# Ignore images
*.png
*.jpg
*.jpeg

# Ignore VPN / config files
*.ovpn

# Ignore everything except src code
!.gitignore
!*.py
!*.md
